@import url('./style.css');

/* ----------------banner------------------ */
.banner {
    height: 480px;
    background-image: url('../img/main/banner3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* 이미지 출처 - http://magazine.bizforms.co.kr/content/event/view_20200525.asp?p_bms_code=bs3217326621106 */

/* -----------------search_bar------------------ */
.section_main_search {
    height: 108px;
    color: #fff;
    background-color: #76B42D;
}

.main_search_wrap {
    display: flex;
    padding: 0;
    height: 108px;
    justify-content: center;
    align-items: center;
}

.main_search {
    display: flex;
    width: 100%;
    padding: 10px 0 10px 0;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.1px solid rgba(255,255,255,0.4);
}

.main_search i {
    font-size: 26px;
}

.main_search input {
    padding: 0 36px;
    width: 1050px;
    height: 35px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

.main_search input::placeholder {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

.main_search_btn {
    width: 160px;
    height: 47px;
    border-radius: 26px;
    font-weight: 700;
    font-size: 18px;
    color: #76B42D;
    background-color: #fff;
}

.main_search_btn:hover {
    background-color: #DCE0E3;
}

.main_search_btn:active {
    background-color: #DCE0E3;
}

.privacy {
    display: flex;
    justify-content: flex-end;
    width: 190px;
}

.privacy a {
    font-size: 16px;
    color: #707070;
    font-weight: 500;
}

.privacy a:first-child {
    margin-right: 27px;
}

.filter_element {
    width: 95px;
    height: 34px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 24px;
    color: #76B42D;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0);
    background-color: #fff;
}

.sort_filter {
    margin-bottom: 20px;
}

.sort_filter ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sort_filter ul li {
    border: 1px solid #76B42D;
    border-radius: 24px;
    margin-right: 12px;
}

.sort_filter ul li:last-child {
    margin-right: 0;
}

.sort_filter .filter_element.selected {
    background-color: #76B42D;
    color: #fff;
    font-weight: 500;
}

.content {
    margin-bottom: 13.5px;
}

/* -------------------recommaend_content--------------------- */

/* content-1 */
.recommend_items .content:nth-child(1) .content_img {
    background-image: url('../img/campaign/img_8.png');
}
.recommend_items .content:nth-child(1) .remain_period {
    background-color: #C92517;
}

/* content-2 */
.recommend_items .content:nth-child(2) .content_img {
    background-image: url('../img/campaign/img_1.png');
}

/* content-3 */
.recommend_items .content:nth-child(3) .content_img {
    background-image: url('../img/campaign/img_3.png');
}

/* content-4 */
.recommend_items .content:nth-child(4) .content_img {
    background-image: url('../img/campaign/img_7.png');
}

/* ------------------------area_items----------------------------- */

/* content-1 */
.area_items .content:nth-child(1) .content_img {
    background-image: url('../img/campaign/img_2.png');
}

/* content-2 */
.area_items .content:nth-child(2) .content_img {
    background-image: url('../img/campaign/img_6.png');
}

/* content-3 */
.area_items .content:nth-child(3) .content_img {
    background-image: url('../img/campaign/img_7.png');
}

/* content-4 */
.area_items .content:nth-child(4) .content_img {
    background-image: url('../img/campaign/img_4.png');
}

/* --------------------sign popup-------------------- */

.sign_popup {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 6px;
    padding: 48px 65px;
    background-color:#fff;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
}

.sign_popup a {
    display: inline-block;
}

.sign_popup > header {
    height: auto;
    margin-bottom: 22px;
}

.sign_popup > header span {
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #535353;
}

.sign_popup > header p {
    font-size: 17px;
    font-weight: 500;
    color: #535353;
}

.sign_popup h4 {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 500;
    color: #030301;
}

.sign_links {
    display: inline-flex;
}

.email_link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 27px;
    padding: 0 52px;
    margin-right: 40px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background-color: #76B42D;
    transition: background-color 180ms ease-out, opacity 180ms ease-out
}





.email_link:hover {
    background-color: #76B42D;
    opacity: 0.5;
}

.social_links {
    display: flex;
    justify-content: space-between;
    width: 220.26px;
}

.social_links a {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.naver {
  background-image: url('../img/beforelogin/naver.svg');
}

.google {
    background-image: url('../img/beforelogin/google.svg');
  }

.kakao {
  background-image: url('../img/beforelogin/kakaotalk.svg');
}

.apple {
  background-image: url('../img/beforelogin/apple.svg');
}

.close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 12px;
    height: 12px;
    background-image: url('../img/beforelogin/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}