@import url('./style.css');

/* --------main--------- */
main {
    background-color: #fff;
}

.calendar_area{
    width: 1064px;
    height: 946px;
    margin: 80px auto;
    background-image: url('../img/calendar/calendar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.calendar_list_header {
    display: flex;
    align-items: center;
    height: 200px;
}

/* --------calendar_list_filter--------- */
.calendar_list_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort_filter ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sort_filter ul li {
    margin-right: 20px;
}

.sort_filter ul li:last-child {
    margin-right: 0px;
}

.favor_list_filter .filter_element {
    width: 87px;
    border: 1px solid rgba(166, 173, 180, 0.3);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* --------caleandar_list -------- */
.section_content.menu {
    padding: 63px 0;
}

.section_content.menu article {
    margin-bottom: 0px;
}

/* content-1 */
.content:nth-child(1) .content_img {
    background-image: url('../img/campaign/img_1.png');
}

/* content-2 */
.content:nth-child(2) .content_img {
    background-image: url('../img/campaign/img_3.png');
}