@import url('./style.css');


/* -------menu_header------- */
.campaign_header {
    display: flex;
    align-items: center;
    height: 282px;
}
.campaign_header h1 {
    margin: 0 auto;
}

/* -------menu_filter------- */
.section_menu_filter {
    height: 102px;
    background-color: rgba(166, 173, 180, 0.1);
}

.menu_filter {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.classifi_btns > button {
    margin-right: 45px;
    color: rgba(13, 13, 13, 0.3);
    font-size: 16px;
    font-weight: 400;
}

.classifi_btns > button.selected {
    color: #030301;
}

.menu_filter .filter_element {
    border: 1px solid rgba(166, 173, 180, 0.3);
    font-size: 18px;
    font-weight: 400;
    color: rgba(13, 13, 13, 0.7);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background-color: inherit;
}

.menu_filter .filter_element.click {
    color: #fff;
    background-color: #76B42D;
}

.menu_filter .filter_element:active {
    color: #fff;
    background-color: #DCE0E3;
    border: none;
}

/* -------menu_filter_dropdown------- */
.section_menu_filter_dropdown {
    display: none;
    padding: 39px 0;
    background-color: #EDF5E4;
}

.section_menu_filter_dropdown.visible {
    display: block;
}

.menu_filter_dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_filter_dropdown h4 {
    margin-bottom: 14px;
    font-size: 16px;
    color: #707070;
}

.area_filter > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.area_filter ul >  li {
    margin-right: 37px;
}

.area_filter ul > li:last-child {
    margin-right: 0px;
}

.area_filter ul  li button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 281px;
    padding: 24px 24px;
    text-align: left;
}

.area_filter ul  li button .fa-caret-down {
    font-size: 18px;
}

.area_filter ul  li button:hover .fa-caret-down {
    color: #76B42D;
}

.area_filter ul  li button:active .fa-caret-down {
    color: #76B42D;
}

.area_filter button ul
 {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 48px;
    width: 100%;
    height: 421px;
    border-radius: 6px;
    padding: 12px 0;
    overflow-y: scroll;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
}

.area_filter button ul.visible {
    display: flex;
}

.area_filter button ul li  {
    width: 100%;
    padding: 8px 45px;
    font-size: 16px;
    font-weight: 400;
}

.area_filter button ul li:hover {
    background-color: #76B42D;
    color: #fff;
}

.detail_btn_text.selected {
    font-weight: 500;
}

.sort_filter ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sort_filter ul li {
    margin-right: 20px;
}

.sort_filter ul li:last-child {
    margin-right: 0px;
}

.sort_filter .filter_element.selected {
    color: #76B42D;
    font-weight: 500;
}

/* --------menu content -------- */
.section_content.menu {
    padding: 63px 0;
}

.section_content.menu article {
    margin-bottom: 0px;
}

.contents {
    min-height: 400px;
}